# Files used in development
*.env
test.py
dump.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
parts/
sdist/
wheels/
*.egg-info/
*.egg
MANIFEST

.coverage*
.tox/
.venv